<form action="">
  <mat-card>
    <mat-card-header>
      <mat-card-title>登录</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field floatLabel="auto" class="full-width">
        <mat-label>您的email</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field floatLabel="auto" class="full-width">
        <mat-label>您的密码</mat-label>
        <input matInput type="password">
      </mat-form-field>
      <button mat-raised-button type="button">登录</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>还没有账户？<a href="">注册</a></p>
      <p>忘记密码？<a href="">找回</a></p>
    </mat-card-actions>
  </mat-card>
</form>
