/* You can add global styles to this file, and also import other style files */
// make html, body, app-root element and site container fill up screen
html, body, app-root, .site {
  width: 100%;
  height: 100%;
  margin: 0;
}

.site {
  display: flex;
  flex-direction: column;// 按列排纵向的
}

main {
  flex: 1;
}

header {
  background-color: green;
}

footer {
  background-color: blue;
}
