<div class="address-group">
  <div>
    <mat-form-field>
      <mat-label>请输入省份</mat-label>
      <mat-select placeholder="" [(ngModel)]="_address.province" (selectionChange)="onProvinceChange()">
        <mat-option *ngFor="let p of province$ | async" [value]="p">{{p}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>请输入城市</mat-label>
      <mat-select placeholder="" [(ngModel)]="_address.city" (selectionChange)="onCityChange()">
        <mat-option *ngFor="let c of city$ | async" [value]="c">{{c}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>请输入区县</mat-label>
      <mat-select placeholder="" [(ngModel)]="_address.district" (selectionChange)="onDistrictChange()">
        <mat-option *ngFor="let d of district$ | async" [value]="d">{{d}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="street">
    <mat-form-field class="full-width">
      <mat-label>请输入街道地址</mat-label>
      <input matInput type="text" [(ngModel)]="_address.street" (change)="onStreetChange()">
      <mat-error>证件号码输入有误</mat-error>
    </mat-form-field>
  </div>
</div>
